/************************* DEBUG SETTINGS *************************/
/* Settings to help find errors in your css uncomment temporarily to enable */
/* Add dotted line around all boxes. This makes size of boxes visible. Warning 1: this settings may change your layout. Warning 2: keep the * as selector for all tags when uncommenting. */
/* * {
    border: 1px dotted black;
}
 */
/* Add semi-transparant dark background to all boxes The more boxes are on top of eachother the darker tghe background color Warning: keep the * as selector for all tags when uncommenting. */
/* * {
    background-color: rgba(0,0,0,5%);
}
 */
/************************* BASE SETTINGS *************************/
/* Settings to make it easier for you uncomment permanently when you understand the meaning of them */
/* border is included in width en height of boxes */
/* * {
     box-sizing: border-box;
}
 */
/* standard margin 0 pixels */
/* * {
     margin: 0px;
}
 */
/* hide everything larger than the dimensions of the div-box important side effect: browser usually doesn't take floats into account when determining height of div, leading to div with height zero. With this settings, height of div-boxes willl be large enough to fit floats inside. */
/* div {
     overflow: hidden;
}
/************************* YOUR SETTINGS *************************/
/* add your css here, feel free to use comments and order them logically for better readability */
 body{
     background-color: #fcb93d34;
     display: grid;
     grid-template-areas: "header header" "nav main" "footer footer";
     grid-template-columns: 1fr 3fr;
     grid-template-rows: 120px 1fr 60px;
}
 header{
     background-color: #ffa600;
     color: #000000;
     grid-area: header;
}
 nav {
   grid-area: nav;
}
 nav ul {
     list-style: upper-roman;

     /* display: flex;
     gap: 15px; */
}
nav ul li {
     margin: 1px;
     margin-top: 30px;
}
 nav a {
     text-decoration: none;
}
 nav a:hover {
     text-decoration: underline;
     background-color: #ffa600;
     color: #000000;
     padding: 16px;
     border-radius: 12px;
     text-align: center;
     font-size: 1rem;
}
 main{
     grid-area: main;
    /* justify-content:flex-end ;
     align-self: flex-end;
     */
     text-align: right;
     border: 1px solid;
     min-height: 60vh;
}
 article{
     flex: 0,0,20%;
}
 section{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: stretch;
     align-content: space-evenly;
}
 footer{
     grid-area: footer;
}
 h1{
     font-size: 50px;


 }
 h2{
     font-size: 18px;


 }

 header img {
     height: 90px;
     width: 190px;
     
 }